@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');

:root {
    --dark: #252A34;
    --white: #EAEAEA;
    --red: #FF2E63;
    --blue: #08D9D6;
}

.colP { color: purple }
.colG { color: green }
.colGR { color: goldenrod }
.colB { color: var(--blue) }
.colR { color: var(--red) }
.colDB { color: darkblue }

* {
    font-family: 'M PLUS Code Latin', sans-serif; 
    color: var(--white);
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        transform: translate(0, 4rem);
    }
    to {
        transform: 100%;
        transform: translate(0, 0);
    }
}

.fadeIn-1 { animation: fadeIn 500ms  ease-in-out }
.fadeIn-2 { animation: fadeIn 1000ms ease-in-out }
.fadeIn-3 { animation: fadeIn 1500ms ease-in-out }
.fadeIn-4 { animation: fadeIn 2000ms ease-in-out }
.fadeIn-5 { animation: fadeIn 2500ms ease-in-out }
.fadeIn-6 { animation: fadeIn 3000ms ease-in-out }


body {
    background-color: var(--dark);
}

nav {
    display: flex;
    justify-content: end;
}

nav a p {
    font-size: 2em;
    color: var(--white);
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    transition: 200ms ease-in-out;
}

nav a {
    text-decoration: none;
}

nav p:hover {
    font-weight: bolder;
    transform: scale(1.1) rotate(5deg);
    cursor: pointer;
    color: goldenrod;
}

.contactMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lets-get-in-touch {
    color: var(--red);
    font-size: 6rem;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
}

i {
    color: var(--blue);
    font-size: 4em;
    transition: 200ms ease-in-out;

    margin: 3rem;
}

.contactMainDiv a {
    text-decoration: none;
}

i:hover {
    transform: scale(1.1) rotate(10deg);
    color: goldenrod
}

[tool-tip]::after {
    position: relative;
    font-family: 'M PLUS Code Latin', sans-serif; 
    content: attr(tool-tip);

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 1.5rem;

    opacity: 0;
    transition: 200ms ease-in-out;
}

[tool-tip]:hover::after {
    bottom: 2.5rem;
    opacity: 100;
}