@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');

:root {
    --dark: #252A34;
    --white: #EAEAEA;
    --red: #FF2E63;
    --blue: #08D9D6;
}

.colP { color: purple }
.colG { color: green }
.colGR { color: goldenrod }
.colB { color: var(--blue) }
.colR { color: var(--red) }
.colDB { color: darkblue }

* {
    font-family: 'M PLUS Code Latin', sans-serif; 
    color: var(--white);
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        transform: 100%;
    }
}

.fadeIn-1 { animation: fadeIn 500ms ease-in-out }
.fadeIn-2 { animation: fadeIn 1000ms ease-in-out }
.fadeIn-3 { animation: fadeIn 1500ms ease-in-out }

body {
    background-color: var(--dark);
}

nav {
    display: flex;
    justify-content: end;
}

nav a p {
    font-size: 2em;
    color: var(--white);
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    transition: 200ms ease-in-out;
}

nav a {
    text-decoration: none;
}

nav p:hover {
    font-weight: bolder;
    transform: scale(1.1) rotate(5deg);
    cursor: pointer;
    color: rgb(190, 179, 149);
}

.main {
}

.hovExpand {
    transition: 200ms ease-in-out;
}

.hovExpand:hover {
    transform: scale(1.1);
    letter-spacing: 0.1ch;
}

.clickerDiv {
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.tipi {
    margin-top: 15vh;

    width: 20%;
    transform: rotate(-20deg);
    transition: 100ms ease-in-out;
}

.tipi:hover {
    transform: scale(1.1) rotate(-10deg);
    cursor: pointer;
}

.astrodome {
    margin-top: 15vh;

    width: 30%;
    transform: rotate(-20deg);
    transition: 100ms ease-in-out;
}

.astrodome:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(-10deg);
}

.this {
    margin-top: 15vh;

    font-size: 5rem;
    color: var(--blue);
    text-shadow: 3px 3px var(--red);
    transform: rotate(-20deg);

    transition: 100ms ease-in-out;
}

.this:hover {
    text-shadow: 8px 8px var(--red);
    transform: translate(-4px, -4px) rotate(-10deg);
}

.revealTipi, .revealAstrodome, .revealThis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.revealTitle {
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin-top: 0.5rem;
}

.revealTitleA {
    text-decoration: none;
}

.revealTitle:hover {
    color: var(--blue);
    cursor: pointer;
}

.revealdescription {
    width: 65ch;
    text-align: center;
}

.revealTechUsedTitle {
    font-size: 1.5rem;
    color: goldenrod;
    margin: 0.5rem 0 0 0;
    text-align: center;

    text-decoration: underline wavy var(--blue);
}


.revealTechUsed li {
    margin: 5px;
    text-align: center;
    list-style-type: circle;
}

.revealTechUsed li:nth-child(even) {
    color: white;
}

.revealTechUsed li:nth-child(odd) {
    color: var(--red);
}

.revealAstrodomeImage {
    width: 50%;
    border-radius: 5px;
    margin: 1rem;
}

.nextBtn {
    text-align: center;
    transition: 200ms ease-in-out;
    font-size: 2rem;
    margin: 1rem auto;
    width: 10%;
}

.nextBtn:hover {
    color: goldenrod;
    letter-spacing: 0.3rem;
    
    cursor: pointer;
}

.unlocked {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

@keyframes cut {
    from {
        opacity: 0;
        transform: none;
        border: 5px solid var(--red);

        background-color: var(--dark);
        color: var(--dark);
    }

    25% {
        opacity: 100%;
        transform: translate(-5px, -5px);
        border: 5px solid var(--red);

        background-color: rgb(26, 26, 26);
        color: var(--white);
    }

    75% {
        opacity: 100%;
        transform: translate(-5px, -5px);
        border: 5px solid var(--red);

        background-color: rgb(26, 26, 26);
        color: var(--white);
    }


}

.unlockedTxt {
    transition: 200ms ease-in-out;

    opacity: 0;

    animation: none;
    border-radius: 8px;
    padding: 0.75rem 5%;
}

