@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');

:root {
    --dark: #252A34;
    --white: #EAEAEA;
    --red: #FF2E63;
    --blue: #08D9D6;
}

.colP { color: purple }
.colG { color: green }
.colGR { color: goldenrod }
.colB { color: var(--blue) }

* {
    font-family: 'M PLUS Code Latin', sans-serif; 
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        transform: 100%;
    }
}

.fadeIn-1 { animation: fadeIn 500ms ease-in-out }
.fadeIn-2 { animation: fadeIn 1000ms ease-in-out }
.fadeIn-3 { animation: fadeIn 1500ms ease-in-out }

body {
    background-color: var(--dark);
}

nav {
    display: flex;
    justify-content: end;
}

nav a p {
    font-size: 2em;
    color: var(--white);
    font-weight: bold;
    padding: 15px;
    margin: 15px;
    transition: 200ms ease-in-out;
}

nav a {
    text-decoration: none;
}

nav p:hover {
    font-weight: bolder;
    transform: scale(1.1) rotate(5deg);
    cursor: pointer;
    color: goldenrod;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTxtDiv {
    margin-left: 20px;
}

.mainTxt {
    font-size: 7em;
    color: var(--red);
    text-align: center;
}

.ansDiv {
    margin-left: 20px;
}

.ans {
    margin-top: -50px;
    color: var(--blue);
}

.ans:hover {
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
}

.buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 5px;
    padding: 20px 35px;
    margin: 15px;
    border: none;
    background-color: var(--blue);
    transition: 200ms ease-in-out;
}

.btn:hover {
    background-color: var(--white);
    transform: scale(1.2);
    cursor: hover;
}

.btn[value] {
    font-family: 'Oxygen', monospace, sans-serif;
    font-size: 1.3em;
}

.bioDiv {
    background-color: var(--white);
    width: 75vw;
    max-width: 960px;
    border-radius: 8px;
}

.bioHeader {
    display: flex;
    justify-content: space-between;
}

.exe {
    padding: 15px;
    margin: 15px;
}

.bioRunBtn {
    padding: 15px 30px;
    margin: 15px;
    margin-right: 40px;

    background-color: var(--blue);
    border-radius: 8px;
    border: none;

    transition: 200ms ease-in-out;
}

.bioRunBtn:hover {
    background-color: hsla(179, 90%, 39%, 0.435);
    transform: scale(1.1);
    cursor: pointer;
}

.bioRunOutput {
    background-color: rgb(26, 26, 26);
    border: 5px solid var(--white);
    border-radius: 15px;
    margin: 15px 30px;
}

.bioRunOutput p {
    color: var(--white);
    margin: 10px;
}

.bioRunOuputCards {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 20px 20px 5px 20px;
    padding: 20px 20px 5px 20px;
}

.vertLine {
    border-left: 2px solid var(--red);
    height: 87%;
    margin: 10px;
}

.bioRunCardSkills, .bioRunCardStudies {
    display: flex;
    position: relative;
    width: 35vw;
    justify-content: start;
    align-content: center;

    background: linear-gradient(20deg, rgb(26, 26, 26), rgb(49, 53, 63));
    border-radius: 8px;

    margin: 20px;
    padding: 15px;
}

.bioOutputCardsTitle {
    font-size: 2em;
    color: var(--red);
    margin: 5px;
}

.bioOutputCardstxt {
    color: white;
}

.bioOutputCardsTitleEnd {
    font-size: 1.5em;
    color: var(--red);
}

.hovExapand {
    transition: 200ms ease-in-out;
}

.hovExapand:hover {
    transform: scale(1.05);
}

.myworkA {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myworkA p {
    padding: 3px;
    font-size: 2em;
    color: var(--red);
    font-weight: bold;
    margin: 5px 5px 10px 5px;
}

.myWorkTriggerSeperator {
    transition: 200ms ease-in-out;
}